.gallery{
 display: flex;
 align-items: center;
 column-gap: 20px;
 overflow-x: scroll;
 scroll-snap-type: mandatory;
}
.gallery_item{
 scroll-snap-align:center;
 min-width: 75%;
}
.gallery_image{
 width: 100%;
 height:100%;
 object-fit: cover;
}