*{
 margin: 0;
 padding:0; 
 box-sizing: border-box;
 font-family:"Poppins";  
}
.barra_laterl{
position: fixed;
left: 0;
top: 0;
height: 100%;
width: 78px;
background:#11101d ;
padding:6px 14px ;
z-index: 99;
transition: all 0.5s ease;
}
.barra_laterl.open{
 width: 250px;
}
.barra_laterl .logo-details{
 height: 60px;
 display: flex;
 align-items: center;
 position: relative;
}
.barra_laterl .logo-details .icon{
 opacity: 0;
 transition: all 0.5s ease;
}
.barra_laterl .logo-details .logo_name{
 color: #fff;
 font: size 20px; 
 font-weight: 600;
 opacity: 0;
 transition: all o.5s ease;
}
.barra_laterl .logo-details .icon,
.barra_laterl .logo-details .logo_name{
  opacity: 1;  
}
.barra_laterl .logo-details #btn {
position: absolute;
 top: 50%;
 right: 0;
 transform: translateY(-50%);
 font-size: 22px;
 transition: all o.4s ease;
 font-size: 23px;
 text-align: center;
 cursor: pointer;
 transition: all 0.5s ease;
}
.barra_laterl.open .logo-details #btn{
 text-align:right ;
}
.barra_laterl li:hover .tooltip {
 opacity: 1;
 pointer-events: auto;
 transition: all 0.4s ease;
 top: 50%;
 transform: translateY(-50%);
}
.barra_laterl.open li .tooltip{
 display: none;
}
.barra_laterl input{
 font-size: 15px;
 color: #fff;
 font-weight: 400;
 outline: none;
 height: 50px;
 width: 100%;
 width: 50%;
 border: none;
 border-radius: 12px;
 transition: all 0.5s ease;
 background: #1d1b31;
}
.barra_laterl.open input{
 padding: 0 20px 0 50px ;
 width: 100%;
}
.barra_laterl .bx-search {
 position: absolute;
 top: 50%;
 left: 0;
 transform: translateY(-50%);
 font-size: 22px;
 background: #1d1b31;
 color: #fff;
}
.barra_laterl.open .bx-search:hover {
 background: #1d1b31;
 color: #fff;
}
.barra_laterl .bx-search:hover {
 background: #fff;
 color: #11101d;
}
.barra_laterl li a {
 display: flex;
 height: 100%;
 width:100% ;
 border-radius: 12px;
 align-items: center;
 text-decoration: none;
 transition: all 0.4s ease;
 background: #11101d;
}
.barra_laterl li a:hover {
    background: #fff;
}
.barra_laterl li a .links_name {
 color: #fff;
 font-size: 15px;
 font-weight: 400;
 white-space: nowrap;
 opacity: 0;
 pointer-events: none;
 transition: 0.4s;
}
.barra_laterl.open li a .links_name {
 opacity:1 ;
 pointer-events: auto;
}
.barra_laterl li a:hover .links_name,
.barra_laterl li a:hover i {
 transition: all 0.5s ease;
 color: #11101d;
}
.barra_laterl li i {
 height:50px ;
 line-height: 50px;
 font-size: 18px;
 border-radius:12px ;
}
