.container p{
 color: cornflowerblue;

}
.container div+class{
 text-decoration:underline ;
}
input[type="Text"]{
    border: 2px solid black;
}
.a:hover{
  color: aliceblue;  
}
.container::before{
 content: '"';
 font-size: 30px;
 position: absolute;
}
.container::before{
    top: 0;
    left: 0px;
}